.maintitle{
    background-color: yellow;
     border-radius: 5px; 
     border-bottom-left-radius: 0px; 
     border-bottom-right-radius: 0px;
}
.backgroundcontainer{
    background-color: gainsboro;
}
.infobox{
    background-color:rgb(162, 162, 162);
    border-radius: 5px;
    margin-left: 0px;
    padding-left: 10px;
    padding-top: 10px;
}

.avatar {
    float : left;
    max-width: 150px; 
    max-height: 150px; 
    border-radius: 5px;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px
}
    
p,h1,h2,h3,h4 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
}
